@import "@fontsource/raleway/100.css";
@import "@fontsource/raleway/200.css";
@import "@fontsource/raleway/300.css";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/500.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";
@import "@fontsource/raleway/800.css";
@import "@fontsource/raleway/900.css";
@import "@fontsource/montserrat/100.css";
@import "@fontsource/montserrat/200.css";
@import "@fontsource/montserrat/300.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/800.css";
@import "@fontsource/montserrat/900.css";

@import "tailwindcss";


body {
  overflow-x: hidden;
  background-color: #1C1C1C;
  overflow-x: hidden;
}


.fontone {
  font-family: 'Raleway', sans-serif;
}

.fonttwo {
  font-family: 'Montserrat', sans-serif;
}

.glass {

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-left: 1px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.37);
}

.glassa {

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-left: 1px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.37);
  z-index: 9999;
}

.glasst {

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}



@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee {
  animation: marquee 12s linear infinite;
  width: fit-content;
  display: flex;
  will-change: transform;
}


.glass-magnify {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.glass-magnify::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  background: inherit;
  transform: scale(2.5);
  transform-origin: center;
}


.btn-slide {
  position: relative;
  overflow: hidden;
  color: black;
  border-radius: 9999px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-slide span.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b82f6;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-out;
  border-radius: 9999px;
  z-index: 0;
}

.btn-slide span.text-slide {
  position: relative;
  z-index: 1;
}

.btn-slide:hover {
  color: white;
}

.btn-slide:hover span.bg-slide {
  transform: scaleY(1);
}


.btn-slidet {
  position: relative;
  overflow: hidden;
  color: white;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-slidet span.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b82f6;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-out;
  z-index: 0;
}

.btn-slidet span.text-slide {
  position: relative;
  z-index: 1;
}

.btn-slidet:hover {
  color: white;
}

.btn-slidet:hover span.bg-slide {
  transform: scaleY(1);
}